LOCATE COMP "iclk" SITE "P6";
IOBUF PORT "iclk" IO_TYPE=LVCMOS33;

LOCATE COMP "oclk" SITE "T6";
IOBUF PORT "oclk" IO_TYPE=LVCMOS33;

LOCATE COMP "oclk2" SITE "H2";
IOBUF PORT "oclk2" IO_TYPE=LVCMOS33;

LOCATE COMP "xtest" SITE "H3";
IOBUF PORT "xtest" IO_TYPE=LVCMOS33;


LOCATE COMP "TX1" SITE "F1";
LOCATE COMP "state[0]" SITE "F2";
LOCATE COMP "state[1]" SITE "G2";
IOBUF PORT "TX1" IO_TYPE=LVCMOS33;
IOBUF PORT "state[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "state[1]" IO_TYPE=LVCMOS33;


LOCATE COMP "PORTA[0]" SITE "C4";
LOCATE COMP "PORTA[1]" SITE "E4";
LOCATE COMP "PORTA[2]" SITE "D3";
LOCATE COMP "PORTA[3]" SITE "E3";
LOCATE COMP "PORTA[4]" SITE "N5";
LOCATE COMP "PORTA[5]" SITE "P3";
LOCATE COMP "PORTA[6]" SITE "M3";
LOCATE COMP "PORTA[7]" SITE "M4";

IOBUF PORT "PORTA[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "PORTA[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "PORTA[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "PORTA[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "PORTA[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "PORTA[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "PORTA[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "PORTA[7]" IO_TYPE=LVCMOS33;






